.in-stock {
  color: #79b625;
}
.red-stock {
  color: #e64580;
}
.tag-icon {
  width: 0;
  height: 0;

  border-left: 80px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.tag-new {
  border-top: 80px solid #dcb81d;
}
.tag-best {
  border-top: 80px solid #1dbfdc;
}
.tag-hot {
  border-top: 80px solid #e7246b;
}

.tag-title {
  position: absolute;
  top: 8px;
  right: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  writing-mode: lr-tb;
  font-weight: bold;
  color: #fff;
}
.card {
  margin: 0px 8px;
  .poin-text {
    color: #74b71b;
  }
  .poin-icon {
    margin-right: 6px;
  }
  .review-text {
    font-size: 14px;
  }
  .btn:focus {
    background-color: #dc3545;
  }
  .rounded-pill {
    padding-left: 20px;
    padding-right: 20px;
  }
}
